<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
     Начиная с 30 Api, система ограничивает видимость установленных пакетов
     на устройстве. В связи с этим необходимо явно указывать те Intent'ы,
     которые могут потребоваться приложению в процессе работы.

     https://developer.android.com/training/package-visibility?hl=ru
    -->
    <queries>
        <intent>
            <!-- UserStory: пользователь выполняет открытие ссылки в стороннем приложении. -->
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>

        <intent>
            <!-- UserStory: пользователь выполняет открытие ссылки в стороннем приложении. -->
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
    </queries>

</manifest>

