<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Дополнительный Manifest для регистрации ссылок на тестовых стендах, т.к. в release
    сборке они не нужны и по ним верификация не проходит без VPN. Будет смержен с основным в debug сборке.
    https://developer.android.com/training/app-links/verify-android-applinks#publish-json 5-ый пункт-->
    <application
        android:allowBackup="false"
        android:supportsRtl="true">

        <!--Наименование класса инициируемого по фильтру намерений-->
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="${DEEPLINK_ACTIVITY}"
            android:exported="true"
            tools:ignore="UnusedAttribute">

            <!-- ОСНОВНОЙ интент-фильтр для открытия online.sbis.ru (online.saby.ru) со стендами
            если enableOnlineSbis установлен в true в app-level build.gradle -->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${ONLINE_SBIS_SCHEME}"/>

                <!--Доменное имя online.sbis.ru с тестовыми стендами-->
                <data android:host="@string/link_opener_host_online_test"/>
                <data android:host="@string/link_opener_host_online_pre_test"/>

                <!--Зеркало доменного имени online.sbis.ru с тестовыми стендами-->
                <data android:host="@string/link_opener_host_online_mirror_test"/>
                <data android:host="@string/link_opener_host_online_mirror_pre_test"/>

                <!--Доменное имя dev.sbis.ru со стендами-->
                <data android:host="@string/link_opener_host_online_dev_test"/>
                <data android:host="@string/link_opener_host_online_dev_pre_test"/>

                <!--Доменное имя dev.saby.ru с тестовыми стендами-->
                <data android:host="@string/link_opener_host_saby_dev_test"/>
                <data android:host="@string/link_opener_host_saby_dev_pre_test"/>

                <data android:pathPattern="${DEEPLINK_PATTERN}"/>

            </intent-filter>

            <!--region ДОПОЛНИТЕЛЬНЫЕ спецификации данных к фильтру открытия ВНЕШНИХ ссылок-->

            <!--Интент фильтр для открытия ссылки qr-кода установки МП с токеном авторизации-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${QR_CODE_AUTH_AND_INSTALL_SCHEME}"/>
                <data android:host="@string/link_opener_host_online_test"/>
                <data android:host="@string/link_opener_host_online_mirror_test"/>
                <data android:pathPrefix="@string/link_opener_host_qr_auth_and_install"/>

            </intent-filter>

            <!--Интент фильтр для авторизации на web по QR-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${QR_AUTH_TO_WEB_SCHEME}"/>
                <data android:host="@string/link_opener_host_online_pre_test"/>
                <data android:host="@string/link_opener_host_online_test"/>
                <data android:pathPrefix="@string/link_opener_host_qr_auth_to_web"/>

            </intent-filter>

            <!--Интент фильтр для открытия КАРТОЧКИ ДОКУМЕНТА-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${OPENDOC_CARD_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_test"/>
                <data android:host="@string/link_opener_host_online_mirror_test"/>

                <data android:host="@string/link_opener_host_online_dev_test"/>
                <data android:host="@string/link_opener_host_saby_dev_test"/>

                <data android:pathPattern="@string/link_opener_host_document_card_prefix"/>
                <data android:pathPattern="@string/link_opener_host_document_card_alias_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия МИТИНГОВ-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${MEETING_SCHEME}"/>

                <data android:host="@string/link_opener_host_n_test"/>
                <data android:host="@string/link_opener_host_n_mirror_test"/>

                <data android:pathPattern="@string/link_opener_host_meeting_1_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия ВЕБИНАРОВ-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${WEBINAR_SCHEME}"/>

                <data android:host="@string/link_opener_host_webinars_test"/>
                <data android:host="@string/link_opener_host_webinars_mirror_test"/>

            </intent-filter>

            <!--Интент фильтр для открытия ВЕБИНАРОВ (дополнительный, url с редиректом)-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${WEBINAR_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_test"/>
                <data android:host="@string/link_opener_host_online_mirror_test"/>

                <data android:host="@string/link_opener_host_online_dev_test"/>
                <data android:host="@string/link_opener_host_saby_dev_test"/>

                <data android:pathPattern="@string/link_opener_host_webinar_1_prefix"/>
                <data android:pathPattern="@string/link_opener_host_webinar_2_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия ВИДЕОКОНФЕРЕНЦИЙ-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${VIDEOCONF_SCHEME}"/>

                <data android:host="@string/link_opener_host_n_test"/>
                <data android:host="@string/link_opener_host_n_mirror_test"/>
                <data android:pathPrefix="@string/link_opener_host_videoconf_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия статей БАЗЫ ЗНАНИЙ-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${WIKI_ARTICLE_SCHEME}"/>

                <data android:host="@string/link_opener_host_n_test"/>
                <data android:host="@string/link_opener_host_n_mirror_test"/>
                <data android:pathPrefix="@string/link_opener_host_wiki_article_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия БАЗ ЗНАНИЙ-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${WIKI_KNOWLEDGE_SCHEME}" />

                <data android:host="@string/link_opener_host_online_test"/>
                <data android:host="@string/link_opener_host_n_test"/>

                <data android:host="@string/link_opener_host_online_mirror_test"/>
                <data android:host="@string/link_opener_host_n_mirror_test"/>

                <data android:host="@string/link_opener_host_online_dev_test"/>
                <data android:host="@string/link_opener_host_saby_dev_test"/>

                <data android:pathPrefix="@string/link_opener_host_wiki_knowledge_prefix" />
                <data android:pathPrefix="@string/link_opener_host_wiki_knowledge_page_prefix"/>
                <data android:pathPattern="@string/link_opener_host_wiki_knowledge_group_pattern"/>
                <data android:pathPattern="@string/link_opener_host_wiki_knowledge_base_pattern"/>

            </intent-filter>

            <!--Интент фильтр для открытия папки БАЗЫ ЗНАНИЙ-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${WIKI_KNOWLEDGE_FOLDER_SCHEME}" />

                <data android:host="@string/link_opener_host_online_test"/>
                <data android:host="@string/link_opener_host_online_mirror_test"/>

                <data android:host="@string/link_opener_host_online_mirror_prod" />
                <data android:host="@string/link_opener_host_online_mirror_fix" />

                <data android:host="@string/link_opener_host_online_dev_test"/>
                <data android:host="@string/link_opener_host_saby_dev_test"/>

                <data android:pathPattern="@string/link_opener_host_wiki_knowledge_folder_patter"/>

            </intent-filter>

            <!--Интент фильтр для открытия обсуждения (к статье)-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${FORUM_SCHEME}" />

                <data android:host="@string/link_opener_host_n_test"/>
                <data android:host="@string/link_opener_host_n_mirror_test"/>
                <data android:host="@string/link_opener_host_online_test"/>
                <data android:host="@string/link_opener_host_online_mirror_test"/>

                <data android:host="@string/link_opener_host_online_dev_test"/>
                <data android:host="@string/link_opener_host_saby_dev_test"/>

                <data android:pathPrefix="@string/link_opener_host_forum_prefix" />

            </intent-filter>

            <!--Интент фильтр для открытия раздела НОВОСТЕЙ портала компании по работе с партнерами-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${REG_NEWS_SCHEME}"/>
                <data android:host="@string/link_opener_reg_host_test"/>
                <data android:pathPrefix="@string/link_opener_host_news_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия НОВОСТЕЙ компании-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${NEWS_SCHEME}"/>

                <data android:host="@string/link_opener_host_n_test"/>
                <data android:host="@string/link_opener_host_n_mirror_test"/>
                <data android:pathPrefix="@string/link_opener_host_news_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия КАРТОЧКИ КОМПАНИИ-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${CONTRACTORS_CARD_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_test"/>
                <data android:host="@string/link_opener_host_online_mirror_test"/>

                <data android:host="@string/link_opener_host_online_dev_test"/>
                <data android:host="@string/link_opener_host_saby_dev_test"/>

                <data android:pathPrefix="@string/link_opener_host_contractors_card_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия ДИАЛОГОВ-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${DIALOG_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_test"/>
                <data android:host="@string/link_opener_host_online_mirror_test"/>

                <data android:host="@string/link_opener_host_online_dev_test"/>
                <data android:host="@string/link_opener_host_saby_dev_test"/>

                <data android:pathPattern="@string/link_opener_host_dialog_1_prefix"/>
                <data android:pathPattern="@string/link_opener_host_dialog_2_prefix"/>
            </intent-filter>

            <!--Интент фильтр для открытия ЧАТОВ-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${CHAT_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_test"/>
                <data android:host="@string/link_opener_host_online_mirror_test"/>

                <data android:host="@string/link_opener_host_online_dev_test"/>
                <data android:host="@string/link_opener_host_saby_dev_test"/>

                <data android:pathPattern="@string/link_opener_host_chat_1_prefix"/>
                <data android:pathPattern="@string/link_opener_host_chat_2_prefix"/>
            </intent-filter>

            <!--Интент фильтр для открытия ПРОФИЛЕЙ-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${PERSON_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_test"/>
                <data android:host="@string/link_opener_host_online_mirror_test"/>

                <data android:host="@string/link_opener_host_online_dev_test"/>
                <data android:host="@string/link_opener_host_saby_dev_test"/>

                <data android:pathPattern="@string/link_opener_host_person_prefix"/>
            </intent-filter>

            <!--Интент фильтр для открытия ДОКУМЕНТОВ с диска-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${DISK_DOC_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_test"/>
                <data android:host="@string/link_opener_host_online_mirror_test"/>

                <data android:host="@string/link_opener_host_online_dev_test"/>
                <data android:host="@string/link_opener_host_saby_dev_test"/>

                <data android:pathPattern="@string/link_opener_host_document_disk_1_prefix"/>
                <data android:pathPattern="@string/link_opener_host_document_disk_2_prefix"/>
            </intent-filter>

            <!--Интент фильтр для открытия МЕРОПРИЯТИЯ-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${EVENT_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_test"/>
                <data android:host="@string/link_opener_host_online_mirror_test"/>

                <data android:host="@string/link_opener_host_online_dev_test"/>
                <data android:host="@string/link_opener_host_saby_dev_test"/>

                <data android:pathPattern="@string/link_opener_host_event_prefix"/>
            </intent-filter>

            <!--Интент фильтр для открытия ЗВОНКА-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${CALL_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_test"/>
                <data android:host="@string/link_opener_host_online_mirror_test"/>

                <data android:host="@string/link_opener_host_online_dev_test"/>
                <data android:host="@string/link_opener_host_saby_dev_test"/>

                <data android:pathPattern="@string/link_opener_host_call_prefix"/>
            </intent-filter>

            <!--Интент фильтр для открытия звонков по короткой ссылке -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${CALL_SCHEME}"/>

                <data android:host="@string/link_opener_meet_saby_host_test"/>
                <data android:host="@string/link_opener_meet_saby_host_pre_test"/>

                <data android:pathPrefix="@string/link_opener_host_go_path_prefix"/>
            </intent-filter>

            <!--Интент фильтр для открытия КОРОТКИХ ссылок -->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${GO_SABY_SCHEME}"/>

                <data android:host="@string/link_opener_go_saby_host_test"/>
                <data android:host="@string/link_opener_go_saby_host_pre_test"/>

            </intent-filter>

            <!--Интент фильтр для открытия ссылок в брендах Saby Get-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${SABY_GET_BRAND_COMMON_SCHEME}" />

                <data android:host="@string/link_opener_sabyget_host_test" />
                <data android:host="@string/link_opener_sabyget_host_pre_test" />

                <data android:pathPrefix="/qr/" />
                <data android:pathPrefix="/shop/" />
            </intent-filter>

            <!--Интент фильтр для открытия ссылок Saby Get-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${SABY_GET_SCHEME}" />

                <data android:host="@string/link_opener_sabyget_host_test" />
                <data android:host="@string/link_opener_sabyget_host_pre_test" />

                <data android:pathPrefix="/category" />
                <data android:pathPrefix="/city/" />
                <data android:pathPrefix="/news/" />
                <data android:pathPrefix="/go/" />
                <data android:pathPrefix="/bill/" />
                <data android:pathPrefix="/receipt/" />
                <data android:pathPrefix="/certificate/" />

            </intent-filter>

            <!--Интент фильтр для открытия ЗАЯВКИ НА ПОЛУЧЕНИЕ НЭП-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${CERT_SUBMISSION_SCHEME}" />

                <data android:host="@string/link_opener_host_online_test" />
                <data android:host="@string/link_opener_host_online_pre_test" />

                <data android:host="@string/link_opener_host_online_mirror_test" />
                <data android:host="@string/link_opener_host_online_mirror_pre_test" />

                <data android:host="@string/link_opener_host_online_dev_test"/>
                <data android:host="@string/link_opener_host_online_dev_pre_test"/>
                <data android:host="@string/link_opener_host_saby_dev_test"/>
                <data android:host="@string/link_opener_host_saby_dev_pre_test"/>

                <data android:pathPrefix="@string/link_opener_host_application_for_unqualified_signature_prefix" />

            </intent-filter>

            <!--Интент фильтр для открытия УСТАНОВКИ ПИН-КОДА СЕРТИФИКАТА-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${CERT_SETTING_PASSWORD_SCHEME}" />

                <data android:host="@string/link_opener_host_online_fix" />
                <data android:host="@string/link_opener_host_online_test" />
                <data android:host="@string/link_opener_host_online_pre_test" />

                <data android:host="@string/link_opener_host_online_mirror_fix" />
                <data android:host="@string/link_opener_host_online_mirror_test" />
                <data android:host="@string/link_opener_host_online_mirror_pre_test" />

                <data android:host="@string/link_opener_host_online_dev_test"/>
                <data android:host="@string/link_opener_host_online_dev_pre_test"/>
                <data android:host="@string/link_opener_host_saby_dev_test"/>
                <data android:host="@string/link_opener_host_saby_dev_pre_test"/>

                <data android:pathPrefix="@string/link_opener_host_setting_certificate_password_prefix" />

            </intent-filter>

            <!--Интент фильтр для открытия приложения Saby Clients-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${SABY_CLIENTS_SCHEME}"/>

                <data android:host="@string/link_opener_cl_saby_host_test"/>
                <data android:host="@string/link_opener_cl_saby_host_pre_test"/>

                <data android:pathPattern="/.*"/>

            </intent-filter>
        </activity>
    </application>
</manifest>