<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <!-- Для проверки установленных браузеров с поддержкой Custom Tabs https://developer.chrome.com/docs/android/custom-tabs/integration-guide/-->
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
    </queries>

    <!-- Для FirebaseAnalytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="false"
        android:supportsRtl="true">

        <!--Наименование класса инициируемого по фильтру намерений.
        На debug сборке дополняется ссылками на тестовые стенды в [src/debug/AndroidManifest.xml]-->
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="${DEEPLINK_ACTIVITY}"
            android:exported="true"
            tools:ignore="MissingClass, UnusedAttribute">

            <!-- ОСНОВНОЙ интент-фильтр для открытия online.sbis.ru (online.saby.ru) со стендами
            если enableOnlineSbis установлен в true в app-level build.gradle -->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${ONLINE_SBIS_SCHEME}"/>

                <!--Доменное имя online.sbis.ru со стендами-->
                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>

                <!--Зеркало доменного имени online.sbis.ru со стендами-->
                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>

                <!--Доменное имя dev.sbis.ru со стендами-->
                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>

                <!--Доменное имя dev.saby.ru со стендами-->
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPattern="${DEEPLINK_PATTERN}"/>

            </intent-filter>

            <!--region ДОПОЛНИТЕЛЬНЫЕ спецификации данных к фильтру открытия ВНЕШНИХ ссылок-->

            <!--Интент фильтр для открытия ссылки qr-кода установки МП с токеном авторизации-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${QR_CODE_AUTH_AND_INSTALL_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>

                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>

                <data android:pathPrefix="@string/link_opener_host_qr_auth_and_install"/>

            </intent-filter>

            <!--Интент фильтр для авторизации на web по QR-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${QR_AUTH_TO_WEB_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>

                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>

                <data android:pathPrefix="@string/link_opener_host_qr_auth_to_web"/>

            </intent-filter>

            <!--Интент фильтр для открытия КАРТОЧКИ ДОКУМЕНТА-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${OPENDOC_CARD_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>
                <data android:host="@string/link_opener_host_n_prod"/>
                <data android:host="@string/link_opener_host_n_fix"/>

                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>
                <data android:host="@string/link_opener_host_n_mirror_prod"/>
                <data android:host="@string/link_opener_host_n_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPattern="@string/link_opener_host_document_card_prefix"/>
                <data android:pathPattern="@string/link_opener_host_document_card_alias_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия МИТИНГОВ-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${MEETING_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>
                <data android:host="@string/link_opener_host_n_prod"/>
                <data android:host="@string/link_opener_host_n_fix"/>

                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>
                <data android:host="@string/link_opener_host_n_mirror_prod"/>
                <data android:host="@string/link_opener_host_n_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPattern="@string/link_opener_host_meeting_1_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия ВЕБИНАРОВ-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${WEBINAR_SCHEME}"/>

                <data android:host="@string/link_opener_host_webinars_prod"/>
                <data android:host="@string/link_opener_host_webinars_fix"/>
                <data android:host="@string/link_opener_host_webinars_mirror_prod"/>
                <data android:host="@string/link_opener_host_webinars_mirror_fix"/>

            </intent-filter>

            <!--Интент фильтр для открытия ВЕБИНАРОВ (дополнительный, url с редиректом)-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${WEBINAR_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>
                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>

                <data android:pathPattern="@string/link_opener_host_webinar_1_prefix"/>
                <data android:pathPattern="@string/link_opener_host_webinar_2_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия ВИДЕОКОНФЕРЕНЦИЙ-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${VIDEOCONF_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>
                <data android:host="@string/link_opener_host_n_prod"/>
                <data android:host="@string/link_opener_host_n_fix"/>

                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>
                <data android:host="@string/link_opener_host_n_mirror_prod"/>
                <data android:host="@string/link_opener_host_n_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPrefix="@string/link_opener_host_videoconf_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия статей БАЗЫ ЗНАНИЙ-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${WIKI_ARTICLE_SCHEME}"/>

                <data android:host="@string/link_opener_host_n_prod"/>
                <data android:host="@string/link_opener_host_n_fix"/>

                <data android:host="@string/link_opener_host_n_mirror_prod"/>
                <data android:host="@string/link_opener_host_n_mirror_fix"/>

                <data android:pathPrefix="@string/link_opener_host_wiki_article_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия БАЗ ЗНАНИЙ-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${WIKI_KNOWLEDGE_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>
                <data android:host="@string/link_opener_host_n_prod"/>
                <data android:host="@string/link_opener_host_n_fix"/>

                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>
                <data android:host="@string/link_opener_host_n_mirror_prod"/>
                <data android:host="@string/link_opener_host_n_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPrefix="@string/link_opener_host_wiki_knowledge_prefix"/>
                <data android:pathPrefix="@string/link_opener_host_wiki_knowledge_page_prefix"/>
                <data android:pathPattern="@string/link_opener_host_wiki_knowledge_group_pattern"/>
                <data android:pathPattern="@string/link_opener_host_wiki_knowledge_base_pattern"/>

            </intent-filter>

            <!--Интент фильтр для открытия папки БАЗЫ ЗНАНИЙ-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${WIKI_KNOWLEDGE_FOLDER_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>

                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPattern="@string/link_opener_host_wiki_knowledge_folder_patter"/>

            </intent-filter>

            <!--Интент фильтр для открытия обсуждения (к статье)-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${FORUM_SCHEME}"/>

                <data android:host="@string/link_opener_host_n_prod"/>
                <data android:host="@string/link_opener_host_n_fix"/>
                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>

                <data android:host="@string/link_opener_host_n_mirror_prod"/>
                <data android:host="@string/link_opener_host_n_mirror_fix"/>
                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPrefix="@string/link_opener_host_forum_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия раздела НОВОСТЕЙ портала компании по работе с партнерами-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${REG_NEWS_SCHEME}"/>

                <data android:host="@string/link_opener_reg_host_prod"/>
                <data android:host="@string/link_opener_reg_host_fix"/>

                <data android:pathPrefix="@string/link_opener_host_news_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия НОВОСТЕЙ компании-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${NEWS_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>
                <data android:host="@string/link_opener_host_n_prod"/>
                <data android:host="@string/link_opener_host_n_fix"/>

                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>
                <data android:host="@string/link_opener_host_n_mirror_prod"/>
                <data android:host="@string/link_opener_host_n_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPrefix="@string/link_opener_host_news_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия КАРТОЧКИ КОМПАНИИ-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${CONTRACTORS_CARD_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>

                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPrefix="@string/link_opener_host_contractors_card_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия ДИАЛОГОВ-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${DIALOG_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>
                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPattern="@string/link_opener_host_dialog_1_prefix"/>
                <data android:pathPattern="@string/link_opener_host_dialog_2_prefix"/>
            </intent-filter>

            <!--Интент фильтр для открытия ЧАТОВ-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${CHAT_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>
                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPattern="@string/link_opener_host_chat_1_prefix"/>
                <data android:pathPattern="@string/link_opener_host_chat_2_prefix"/>
            </intent-filter>

            <!--Интент фильтр для открытия ПРОФИЛЕЙ-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${PERSON_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>
                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPattern="@string/link_opener_host_person_prefix"/>
            </intent-filter>

            <!--Интент фильтр для открытия ДОКУМЕНТОВ с диска-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${DISK_DOC_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>
                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPattern="@string/link_opener_host_document_disk_1_prefix"/>
                <data android:pathPattern="@string/link_opener_host_document_disk_2_prefix"/>
            </intent-filter>

            <!--Интент фильтр для открытия МЕРОПРИЯТИЯ-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${EVENT_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>
                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPattern="@string/link_opener_host_event_prefix"/>
            </intent-filter>

            <!--Интент фильтр для открытия ЗВОНКА-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${CALL_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>
                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPattern="@string/link_opener_host_call_prefix"/>
            </intent-filter>

            <!--Интент фильтр для открытия звонков по короткой ссылке -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${CALL_SCHEME}"/>

                <data android:host="@string/link_opener_meet_saby_host_prod"/>
                <data android:host="@string/link_opener_meet_saby_host_fix"/>

                <data android:pathPrefix="@string/link_opener_host_go_path_prefix"/>
            </intent-filter>

            <!--Интент фильтр для открытия КОРОТКИХ ссылок-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${GO_SABY_SCHEME}"/>

                <data android:host="@string/link_opener_go_saby_host_prod"/>
                <data android:host="@string/link_opener_go_saby_host_fix"/>

            </intent-filter>

            <!--Интент фильтр для открытия ссылок в брендах Saby Get-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${SABY_GET_BRAND_COMMON_SCHEME}"/>

                <data android:host="@string/link_opener_sabyget_host_prod"/>
                <data android:host="@string/link_opener_sabyget_host_fix"/>

                <data android:pathPrefix="/qr/"/>
                <data android:pathPrefix="/shop/"/>

            </intent-filter>

            <!--Интент фильтр для открытия ссылок Saby Get-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${SABY_GET_SCHEME}"/>

                <data android:host="@string/link_opener_sabyget_page_link_host_prod"/>

                <data android:pathPattern="/.*"/>

            </intent-filter>

            <!--Интент фильтр для открытия ссылок Saby Get-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${SABY_GET_SCHEME}"/>

                <data android:host="@string/link_opener_sabyget_host_prod"/>
                <data android:host="@string/link_opener_sabyget_host_fix"/>

                <data android:pathPrefix="/category"/>
                <data android:pathPrefix="/city/"/>
                <data android:pathPrefix="/news/" />
                <data android:pathPrefix="/go/" />
                <data android:pathPrefix="/bill/" />
                <data android:pathPrefix="/receipt/" />
                <data android:pathPrefix="/certificate/" />

            </intent-filter>

            <!--${SABY_BRAND_SCHEME} забрали в манифест приложения-->

            <!--Интент фильтр для открытия динамических ссылок с приглашениями в коммуникаторе -->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="@string/link_opener_communicator_page_link"
                    android:pathPattern="/.*"
                    android:scheme="${SBIS_PAGE_LINK_SCHEME}"/>

            </intent-filter>

            <!--Интент фильтр для открытия ссылок в sabymy -->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${SABY_MY_PAGE_LINK_SCHEME}"/>
                <data android:pathPattern="/.*"/>

                <data android:host="@string/link_opener_sabymy_page_link"/>
                <data android:host="@string/link_opener_sabymy_host_prod"/>
                <data android:host="@string/link_opener_sabymy_host_fix"/>


            </intent-filter>

            <!--Интент фильтр для открытия динамических ссылок с приглашениями в сабилайте-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="@string/link_opener_sabylite_page_link"
                    android:pathPattern="/.*"
                    android:scheme="${SABY_LITE_PAGE_LINK_SCHEME}"/>

            </intent-filter>

            <!--Интент фильтр для открытия ЗАЯВКИ НА ПОЛУЧЕНИЕ НЭП-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${CERT_SUBMISSION_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>

                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPrefix="@string/link_opener_host_application_for_unqualified_signature_prefix"/>

            </intent-filter>

            <!--Интент фильтр для открытия УСТАНОВКИ ПИН-КОДА СЕРТИФИКАТА-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${CERT_SETTING_PASSWORD_SCHEME}"/>

                <data android:host="@string/link_opener_host_online_prod"/>
                <data android:host="@string/link_opener_host_online_fix"/>

                <data android:host="@string/link_opener_host_online_mirror_prod"/>
                <data android:host="@string/link_opener_host_online_mirror_fix"/>

                <data android:host="@string/link_opener_host_online_dev_prod"/>
                <data android:host="@string/link_opener_host_online_dev_fix"/>
                <data android:host="@string/link_opener_host_saby_dev_prod"/>
                <data android:host="@string/link_opener_host_saby_dev_fix"/>

                <data android:pathPrefix="@string/link_opener_host_setting_certificate_password_prefix"/>

            </intent-filter>
            <!--endregion ДОПОЛНИТЕЛЬНЫЕ спецификации данных к фильтру открытия ВНЕШНИХ ссылок-->

            <!-- region Зарегистрированные ВНУТРЕННИЕ SABYLINK ссылки для открытия приложений редиректом из другого МП.-->
            <!--Используется для поддержки Android 12+: при открытии ссылки в нецелевом приложении
            будет определяться тип/подтип ссылки и подбираться подходящее приложение для открытия.
            Открыться нецелевое приложение может если было установлено раньше другого и совпадает
            интент-фильтр с целевым-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${PERSON_CARD_FEATURE_SCHEME}"/>
                <data android:host="person"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${E_SIGNS_FEATURE_SCHEME}"/>
                <data android:host="application_for_unqualified_signature"/>
                <data android:host="setting_certificate_password"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${VIOLATION_FEATURE_SCHEME}"/>
                <data android:host="document.task_infraction"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${VIDEOCALL_FEATURE_SCHEME}"/>
                <data android:host="videocall"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${NEWS_FEATURE_SCHEME}"/>
                <data android:host="news"/>
                <data android:host="billing_news"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${ATTACHMENTS_FEATURE_SCHEME}"/>
                <data android:host="instructdoc"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${CALENDAR_FEATURE_SCHEME}"/>
                <data android:host="unknown.unknown_online_doc"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${THEMES_REGISTRY_FEATURE_SCHEME}"/>
                <data android:host="open_chat"/>
                <data android:host="open_dialog"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${CONTRACTORS_CARD_FEATURE_SCHEME}"/>
                <data android:host="contractor"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${DOCVIEW_FEATURE_SCHEME}"/>
                <data android:host="disc"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${DOCWEBVIEWER_FEATURE_SCHEME}"/>
                <data android:host="task_fns_report"/>
                <data android:host="document.task_work_plan"/>
                <data android:host="document.task_work_plan_item"/>
                <data android:host="document.task_order"/>
                <data android:host="document.task_requirements"/>
                <data android:host="document.review_item"/>
                <data android:host="document.reclamation"/>
                <data android:host="document.checklist_item"/>
                <data android:host="document.task_fns_report"/>
                <data android:host="trades.task_work_plan"/>
                <data android:host="trades.task_work_plan_item"/>
                <data android:host="trades.task_order"/>
                <data android:host="trades.task_requirements"/>
                <data android:host="trades.review_item"/>
                <data android:host="trades.reclamation"/>
                <data android:host="trades.checklist_item"/>
                <data android:host="trades.task_fns_report"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${MEETING_FEATURE_SCHEME}"/>
                <data android:host="meeting"/>
                <data android:host="meeting_service"/>
                <data android:host="event"/>
                <data android:host="webinar"/>
                <data android:host="webinar_translation"/>
                <data android:host="meeting_videocall"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${IAMHERE_FEATURE_SCHEME}"/>
                <data android:host="document.task_waybill"/>
                <data android:host="document.task_delivery_task"/>
                <data android:host="document.task_order"/>
                <data android:host="document.refueling"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${TASK_FEATURE_SCHEME}"/>
                <data android:host="task_letter"/>
                <data android:host="document"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${MYDOCUMENTS_FEATURE_SCHEME}"/>
                <data android:host="document.hire"/>
                <data android:host="document.change_rate"/>
                <data android:host="document.dismissal"/>
                <data android:host="document.transfer"/>
                <data android:host="document.task_vacation"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${PAYMENT_DOCUMENT_FEATURE_SCHEME}"/>
                <data android:host="document.order_expend"/>
                <data android:host="document.order_income"/>
                <data android:host="document.outgoing_payment"/>
                <data android:host="document.incoming_payment"/>
                <data android:host="document.payment_request"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${DEVICE_LINKER_FEATURE_SCHEME}"/>
                <data android:host="retail.retail_point_device"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${INVITE_FEATURE_SCHEME}"/>
                <data android:host="reg_invite"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${KNOWLEDGE_FEATURE_SCHEME}"/>
                <data android:host="knowledge_base"/>
                <data android:host="unknown_online_doc"/>
                <data android:host="group_discussion_topic"/>
                <data android:host="article"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${KNOWLEDGE_FOLDER_FEATURE_SCHEME}"/>
                <data android:host="unknown_online_doc"/>
                <data android:host="knowledge_folder"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${SABYGET_SABY_CLIENTS_FEATURE}"/>
                <data android:host="sabyget_company"/>
                <data android:host="sabyget_referee"/>
                <data android:host="sabyget_certificate"/>
                <data android:host="sabyget_qr_table"/>
                <data android:host="sabyget_qr_presto"/>
                <data android:host="sabyget_qr_fast_payments_system"/>
                <data android:host="sabyget_receipt"/>
                <data android:host="sabyget_bill"/>
                <data android:host="sabyget_city"/>
                <data android:host="sabyget_category"/>
                <data android:host="sabyget_nomenclature"/>
                <data android:host="sabyget_news"/>
                <data android:host="sabyget_page_link"/>
                <data android:host="sabyget_go_link"/>
                <data android:host="sabyget_main"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${BRAND_SABY_CLIENTS_FEATURE}"/>
                <data android:host="sabyget_company"/>
                <data android:host="sabyget_referee"/>
                <data android:host="sabyget_certificate"/>
                <data android:host="sabyget_qr_table"/>
                <data android:host="sabyget_qr_presto"/>
                <data android:host="sabyget_qr_fast_payments_system"/>
                <data android:host="sabyget_receipt"/>
                <data android:host="sabyget_bill"/>
                <data android:host="sabyget_nomenclature"/>
                <data android:host="sabyget_news"/>
                <data android:host="sabyget_page_link"/>
                <data android:host="sabyget_go_link"/>
                <data android:host="brand_unknown"/>
            </intent-filter>

            <!--Интент фильтр для открытия динамических ссылок в Saby Clients -->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="@string/link_opener_sabyclients_page_link"
                    android:pathPattern="/.*"
                    android:scheme="${SABY_CLIENTS_PAGE_LINK_SCHEME}"/>

            </intent-filter>

            <!--Интент фильтр для открытия приложения Saby Clients-->
            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${SABY_CLIENTS_SCHEME}"/>

                <data android:host="@string/link_opener_cl_saby_host_prod"/>
                <data android:host="@string/link_opener_cl_saby_host_fix"/>

                <data android:pathPattern="@string/link_opener_host_cl_saby_retail_order_card_prefix"/>
                <data android:pathPattern="@string/link_opener_host_cl_saby_retail_order_salon_prefix"/>
                <data android:pathPattern="@string/link_opener_host_cl_saby_queues_schedules_prefix"/>

            </intent-filter>

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="${CLIENTS_SABY_FEATURE_SCHEME}"/>
                <data android:host="retailOrderCard"/>
                <data android:host="retailOrdersSalon"/>
                <data android:host="queues-schedule"/>
            </intent-filter>

            <!--endregion Зарегистрированные ВНУТРЕННИЕ SABYLINK ссылки для открытия приложений редиректом из другого МП.-->
        </activity>
    </application>
</manifest>