<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Доступ на чтение из системного Contacts Provider при шаринге контактов -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application android:allowBackup="false">
        <activity
            android:name=".ui.ShareMessagesActivity"
            android:theme="@style/AppTheme.Swipe.Back"
            android:windowSoftInputMode="adjustPan"
            android:taskAffinity="ru.tensor.sbis.droid.messages_share_affinity"
            android:exported="false"/>
    </application>

</manifest>