<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.tensor.sbis.appdesign">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".DemoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".folders.FoldersActivity"/>
        <activity android:name=".folders.FoldersViewModelActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".scrolltotop.ScrollToTopActivity"/>
        <activity android:name=".context_menu.ContextMenuActivity"/>
        <activity android:name=".container.ContainerActivity"/>
        <activity android:name=".hallscheme.HallSchemeActivity"/>
        <activity
            android:name=".stubview.StubViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".stubview.NestedStubViewActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".stubview_old.StubViewOldActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".stubview_old.NestedStubViewOldActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".inputtextbox.InputTextBoxActivity"/>
        <activity android:name=".selection.SingleSelectorActivity"/>
        <activity android:name=".selection.SelectorActivity"/>
        <activity android:name=".selection.RecipientSingleSelectorActivity"/>
        <activity android:name=".selection.RecipientMultiSelectorActivity"/>
        <activity android:name=".selection.selectionpreview.SelectionPreviewActivity"/>
        <activity
            android:name=".navigation.NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".appbar.AppBarActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".folderview.CurrentFolderViewActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".cloudview.CloudViewActivity"/>
        <activity android:name=".pincode.PinCodeHostActivity"/>
        <activity android:name=".combined_multiselection.ShareMultiSelectorActivity"/>
        <activity android:name=".skeletonview.SkeletonViewActivity"/>
        <activity
            android:name=".title_view.TitleViewActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".listheader.DateHeaderDemoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".input_view.InputViewDemoActivity"/>
    </application>

</manifest>