<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowBackup="false">

        <activity
            android:name="ru.tensor.sbis.share_menu.ShareMenuActivity"
            android:launchMode="singleTask"
            android:taskAffinity="ru.tensor.sbis.droid.share_affinity"
            android:theme="@style/ShareMenuActivityTheme"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="*/*"/>
            </intent-filter>
            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value="androidx.sharetarget.ChooserTargetServiceCompat"/>
        </activity>

    </application>

</manifest>