<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowBackup="false">

        <activity
            android:name=".presentation.DialogSelectionActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Swipe.Back"
            android:windowSoftInputMode="adjustPan"/>

    </application>

</manifest>